@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 25px;
    color: white;
}

h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 15px;
    color: white;
}

nav {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 33%, rgba(9,9,121,1) 67%, rgba(0,212,255,1) 100%);
    max-width: 100%;
}

.card-body {
    background: navy;
    align-items: flex-start;
}



.coffee-icon {
    color: white;
}